extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 Sistem Informasi 
        span Penilaian 
        | Pegawai
      p.lead
        | Basis 
        span Data 
        | Lanjutan
      a.btn.btn-outline-light(href='/pegawai/tampil') Tampil Data Pegawai

          
  // Footer
  //- footer.page-footer.font-small.blue.mt-5.mb-5
    // Copyright
    //- .footer-copyright.text-center.py-3
    //-   | © 2019 Copyright: Indra Juniyanto
    // Copyright
  // Footer
    

   
            
           
      